In [2]:
import nltk
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import string

In [2]:
data_from_file = pd.read_csv("completeSpamAssassin.csv", thousands=",")

In [3]:
data = data_from_file
data.describe()

        Unnamed: 0        Label
count  6046.000000  6046.000000
mean   3022.500000     0.313596
std    1745.474195     0.463993
min       0.000000     0.000000
25%    1511.250000     0.000000
50%    3022.500000     0.000000
75%    4533.750000     1.000000
max    6045.000000     1.000000

In [4]:
data['Body']

0       \nSave up to 70% on Life Insurance.\nWhy Spend...
1       1) Fight The Risk of Cancer!\nhttp://www.adcli...
2       1) Fight The Risk of Cancer!\nhttp://www.adcli...
3       ##############################################...
4       I thought you might like these:\n1) Slim Down ...
                              ...
6041                                                empty
6042                      ___           ___           ...
6043    IN THIS ISSUE:01. Readers write\n02. Extension...
6044                                                empty
6045                                                empty
Name: Body, Length: 6046, dtype: object

In [5]:
data.dtypes

Unnamed: 0     int64
Body          object
Label          int64
dtype: object

In [6]:
sentences = data['Body'].astype('str')
labels = data['Label']

In [7]:
sentences.size

6046

In [10]:
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [9]:
stop_words = set(stopwords.words('english'))

NameError: name 'stopwords' is not defined

In [10]:
def text_process(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    return " ".join(text)

In [11]:
text_feat = sentences.apply(text_process)

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
features = vectorizer.fit_transform(text_feat)

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, labels,
test_size=0.2, shuffle=True)

In [14]:
x_train.size

492636

### K-neighbours

In [15]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [16]:
nbrs = KNeighborsClassifier(n_neighbors=13).fit(x_train, y_train)

In [17]:
result = nbrs.predict(x_test)

In [18]:
from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score)

print(accuracy_score(y_test, result))
print(precision_score(y_test, result,  average='macro', zero_division=1))
print(recall_score(y_test, result, average='weighted'))
print(f1_score (y_test, result,  average='weighted'))

0.9041322314049587
0.8943375669595569
0.9041322314049587
0.9030391938392013

### LSTM

In [3]:
data_from_file = pd.read_csv("completeSpamAssassin.csv", thousands=",")

In [4]:
data = data_from_file
data.describe()

        Unnamed: 0        Label
count  6046.000000  6046.000000
mean   3022.500000     0.313596
std    1745.474195     0.463993
min       0.000000     0.000000
25%    1511.250000     0.000000
50%    3022.500000     0.000000
75%    4533.750000     1.000000
max    6045.000000     1.000000

In [5]:
data['Body']

0       \nSave up to 70% on Life Insurance.\nWhy Spend...
1       1) Fight The Risk of Cancer!\nhttp://www.adcli...
2       1) Fight The Risk of Cancer!\nhttp://www.adcli...
3       ##############################################...
4       I thought you might like these:\n1) Slim Down ...
                              ...
6041                                                empty
6042                      ___           ___           ...
6043    IN THIS ISSUE:01. Readers write\n02. Extension...
6044                                                empty
6045                                                empty
Name: Body, Length: 6046, dtype: object

In [6]:
data.dtypes

Unnamed: 0     int64
Body          object
Label          int64
dtype: object

In [7]:
sentences = data['Body'].astype('str')
labels = data['Label']

In [11]:
stop_words = set(stopwords.words('english'))

In [12]:
def text_process(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    return " ".join(text)

In [13]:
text_feat = sentences.apply(text_process)

In [14]:
text_feat

0       Save 70 Life Insurance Spend ToLife Quote Savi...
1       1 Fight Risk Cancer httpwwwadclickwspcfmo315sp...
2       1 Fight Risk Cancer httpwwwadclickwspcfmo315sp...
3       Adult Club Offers FREE Membership INSTANT ACCE...
4       thought might like 1 Slim Guaranteed lose 1012...
                              ...
6041                                                empty
6042    oneten 271102 Insignificant Matters Heavily Ov...
6043    ISSUE01 Readers write 02 Extension search 03 D...
6044                                                empty
6045                                                empty
Name: Body, Length: 6046, dtype: object

In [19]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=1000)
tokenizer.fit_on_texts(text_feat)
sequences = tokenizer.texts_to_sequences(text_feat)

In [16]:
from keras.preprocessing.sequence import pad_sequences
sequences_matrix = pad_sequences(sequences, maxlen=150)

In [22]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(sequences_matrix, labels,
test_size=0.2, shuffle=True)

In [23]:
from tensorflow.keras import layers, losses, metrics, optimizers
from tensorflow.keras.models import Sequential
classifier = Sequential([
 layers.Embedding(input_dim=1000, output_dim=32,
input_length=150),
 layers.LSTM(64),
 layers.Dense(1, activation='sigmoid')
])
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 150, 32)           32000

 lstm_1 (LSTM)               (None, 64)                24832

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 56,897
Trainable params: 56,897
Non-trainable params: 0
_________________________________________________________________

In [25]:
classifier.compile(loss=losses.binary_crossentropy,
optimizer=optimizers.RMSprop(), metrics=['accuracy'])
classifier.fit(x_train, y_train, batch_size=128,
epochs=5, validation_split=0.2)

Epoch 1/5
31/31 [==============================] - 4s 103ms/step - loss: 0.5064 - accuracy: 0.7453 - val_loss: 0.3223 - val_accuracy: 0.9019
Epoch 2/5
31/31 [==============================] - 3s 94ms/step - loss: 0.2489 - accuracy: 0.9173 - val_loss: 0.1934 - val_accuracy: 0.9318
Epoch 3/5
31/31 [==============================] - 3s 94ms/step - loss: 0.1486 - accuracy: 0.9398 - val_loss: 0.1586 - val_accuracy: 0.9267
Epoch 4/5
31/31 [==============================] - 3s 95ms/step - loss: 0.1806 - accuracy: 0.9367 - val_loss: 0.1073 - val_accuracy: 0.9504
Epoch 5/5
31/31 [==============================] - 3s 98ms/step - loss: 0.1030 - accuracy: 0.9573 - val_loss: 0.1013 - val_accuracy: 0.9576

In [19]:
# # Создание модели
# from tensorflow.keras.models import Sequential
# from tensorflow.keras import layers, losses, metrics, optimizers

# sequence_length = 30

# regressor = Sequential([layers.LSTM(units = 10, activation = 'relu', input_shape = (1, sequence_length)), layers.Dense(1)])

In [25]:
# x_train

<4836x90266 sparse matrix of type '<class 'numpy.float64'>'
	with 492636 stored elements in Compressed Sparse Row format>

In [23]:
# x_test

<1210x90266 sparse matrix of type '<class 'numpy.float64'>'
	with 125107 stored elements in Compressed Sparse Row format>

In [26]:
# x_train_sequences = x_train.reshape(x_train.shape[0], 1, x_train.shape[1])
# x_test_sequences = x_test.reshape(x_test.shape[0], 1, x_test.shape[1])

In [30]:
# from livelossplot import PlotLossesKerasTF

# regressor.compile(loss='mean_squared_error', optimizer='adam', metrics=['mae'])
# history = regressor.fit(x_train, y_train, batch_size=10, epochs=300, verbose=0, callbacks=[PlotLossesKerasTF()])

In [31]:
# result = classifier.predict(x_test)

In [32]:
# from sklearn.metrics import (accuracy_score, precision_score, recall_score, f1_score)

# print(accuracy_score(y_test, result))
# print(precision_score(y_test, result,  average='macro', zero_division=1))
# print(recall_score(y_test, result, average='weighted'))
# print(f1_score (y_test, result,  average='weighted'))